* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
  background-color: aqua;
  margin-bottom: 50px;
}

.header li {
  display: inline-block;
  margin-left: 10px;
}

.header a:link {
  text-decoration: none;
  color: #000;
}

.intro {
  text-align: center;
  font-size: 22px;
}

.main {
  width: 800px;
  margin: 0 auto;
}

.products {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 20px auto;
  justify-content: space-between;
}
.article {
  background-color: aquas;
}
